__pycache__
env
**/plugins/__pycache__
mahdi.session
mahdi.session-journal
mahdi2.session
mahdi2.session-journal
downloads
mahdi3.session
mahdi3.session-journal
add_to_db.py
outputs.txt
backup.txt
getdatafromlastservice.py
maintenance.py
add_to_db.py
input_images
outputdata
.env